/target/

/.cargo/

/works/

/*.toml
!example-slimebot.toml
!rust-toolchain.toml

/*.env
!example-dotenv.env

/*.yaml
!example-compose.yaml

/wordle/

/macros/Cargo.lock
/macros/target/

/slimebot_error/Cargo.lock
/slimebot_error/target/
Cargo.lock
