# example slimebot compose.toml

services:
  db:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: # mongodb root username
      MONGO_INITDB_ROOT_PASSWORD: # mongodb root password
    ports:
      - 27017:27017 # mongodb port
  
  bot:
    build: .
    restart: always
    volumes:
      - ./.env:/.env # mounr .env to /.env in the container
      - ./slimebot.toml:/slimebot.toml # mount slimebot.toml to /slimebot.toml in the container
    ports:
      - 443:443